body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Noto Sans HK", sans-serif;
}

main {
  flex: 1 0 auto;
}

.div-centered {
  padding: 20px;
}

/* UI design */

.home-background {
  background-image: url("../assets/home-background.jpg");
  height: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul a {
  font-size: 16px;
}

.nav-buttons {
  all: initial;
  all: unset;
  border: none;
  transition: background-color 0.3s;
  font-size: 16px !important;
  color: #fff;
  display: block;
  padding: 0 15px !important;
  cursor: pointer;
}

.nav-buttons:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-buttons:visited {
  all: initial;
  all: unset;
}

.nav-buttons:focus {
  all: initial;
  all: unset;
}

.header-logo {
  height: 45px;
  margin: 10px;
}

.card-panel {
  border-radius: 15px;
}

nav {
  background-color: #ffb6d3 !important;
}

.nav-wrapper {
  background-color: #ffb6d3;
  width: 1000px;
  margin: auto;
  margin-bottom: 20%;
}

.row {
  margin: auto;
  max-width: 1000px;
}

.btn {
  color: white !important;
  border-radius: 5px;
  background-color: #ffb6d3 !important;
}

.btn:hover {
  background-color: #ffe9f2 !important;
}

.btn:disabled {
  color: white !important;
  opacity: 0.4;
  background-color: #ffb6d3 !important;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom-color: #ffb6d3;
  box-shadow: 0 1px 0 0 #ffb6d3;
}

input[type="password"]:not(.browser-default):focus:not([readonly]) {
  border-bottom-color: #ffb6d3;
  box-shadow: 0 1px 0 0 #ffb6d3;
}

input[type="email"]:not(.browser-default):focus:not([readonly]) {
  border-bottom-color: #ffb6d3;
  box-shadow: 0 1px 0 0 #ffb6d3;
}

.input-icons {
  color: #9e9e9e;
}

.input-icons.active {
  color: #ffb6d3 !important;
}

.medium {
  color: #ffb6d3;
}

.pink-link {
  color: #ffb6d3;
}

.switch-field {
  margin: 20px auto !important;
}

.switch-two-fields {
  width: 145px;
}

.switch-three-fields {
  width: 200px;
}

.modal-input {
  padding: 0px 10px;
  margin-top: 30px;
}

.modal-name-input input {
  border-bottom-color: #ffb6d3;
  box-shadow: 0 1px 0 0 #ffb6d3;
}

.modal-input-btns {
  margin-bottom: 20px;
}

.multiple-btns {
  margin: 0px 10px
}

.input-error-block {
  color: #ff6666;
  text-align: left;
  font-size: 12px;
  margin-top: -20px;
  margin-bottom: 30px;
}

/* Sliders */

.MuiSlider-root {
  color: #ffb6d3 !important;
  height: 8px !important;
}

.MuiSlider-thumb {
  height: 24px !important;
  width: 24px !important;
  background-color: #fff !important;
  border: 2px solid currentColor !important;
  margin-top: -8px !important;
  margin-left: -12px !important;
}

.MuiSlider-valueLabel {
  left: calc(-50% + 4px) !important;
}

.MuiSlider-track {
  height: 8px !important;
  border-radius: 4px;
}

.MuiSlider-rail {
  height: 8px !important;
  border-radius: 4px;
}

.slider-label {
  margin-bottom: 15px;
}

.slider-container {
  width: 95%;
  margin: 10px auto;
}

/* Toasts messages */

.info-toast {
  background-color: #ffb6d3;
}

.error-toast {
  background-color: #ff6666;
}

.confirm-toast {
  background-color: #19aa3d;
}

/* Login & Register components */

.title-page {
  font-size: 25px;
  display: block;
  margin-bottom: 15px;
}

#login-box {
  display: block;
  margin: auto;
  float: none;
  width: 50%;
  padding: 50px 0px 20px 0px;
}

.msg {
  width: 100%;
  border: 1px solid;
  padding: 10px;
  color: grey;
}

.msg-info {
  border-color: #0288d1;
  background-color: #29b6f6;
  color: white;
}

.login-error,
.register-error {
  color: #ff6666;
  text-align: left;
  font-size: 12px;
  margin-left: 3rem;
}

.name-size {
  height: 50px;
}

.password-message {
  background-color: #f1f1f1;
  color: #000;
  position: relative;
  padding: 5px 20px;
  font-size: 12px;
  text-align: left;
  border-radius: 5px;
  margin-left: 3rem;
}

.box-disabled {
  display: none;
}

.box-enabled {
  display: block;
}

#pwd1-verify-title {
  font-size: 15px;
  margin: 15px 0px;
}

.valid {
  color: green;
  margin-left: 20px;
}

.valid:before {
  content: "✔";
  position: relative;
  left: -10px;
}

.invalid {
  color: #ff6666;
  margin-left: 20px;
}

.invalid:before {
  content: "✖";
  position: relative;
  left: -10px;
}

.register-login-link {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 12px;
}

/* Profile */

.card {
  overflow: visible;
}
.profile-pic {
  margin-top: -6em;
  z-index: 1;
  position: relative;
}

.profile-pic > img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.profile-background-image {
  max-height: 300px;
}

.controls {
  cursor: pointer;
}

.row-menu {
  position: relative;
}

.menu {
  display: none;
  right: 1em;
  top: 1.8em;
  position: absolute;
  background-color: #fff;
  padding-left: 0.8em;
  padding-right: 0.8em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.menu-list > li {
  margin-bottom: 1em;
  cursor: pointer;
}

.menu-list > li:last-child {
  margin-bottom: -1em;
}

.prefix.active {
  color: #ffb6d3 !important;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.select-wrapper input.select-dropdown {
  border-bottom: solid 1px #ffb6d3 !important;
}

.dropdown-content li > span {
  color: black;
}

.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #ffb6d3;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 20px 0 0 20px;
}

.switch-field label:last-of-type {
  border-radius: 0 20px 20px 0;
}

.fixed-action-btn {
  right: 53px;
  bottom: 53px;
}

.profile-fields-labels {
  background-color: #ffb6d3;
  text-align: center;
  border-radius: 30px;
  color: white;
  display: block;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px;
  font-weight: 900;
}

.left-label {
  float: left !important;
}

.right-label {
  float: right !important;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffb6d3 !important;
  box-shadow: 0 1px 0 0 #ffb6d3 !important;
}

textarea.materialize-textarea:focus {
  border-bottom: 1px solid #ffb6d3 !important;
  box-shadow: 0 1px 0 0 #ffb6d3 !important;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #9e9e9e !important;
}

label.active {
  left: 0px !important;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ffb6d3 !important;
}

input[type="email"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ffb6d3 !important;
}

input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ffb6d3 !important;
}

textarea:not(.browser-default):focus:not([readonly]) + label {
  color: #ffb6d3 !important;
}

.input-modal {
  margin: 0px !important;
}

.edit-location-autoc-input {
  width: calc(100% - 120px);
}

.location-container {
  margin: 20px 0px;
}

.edit-email-input {
  width: 90%;
  margin: auto;
}

.edit-dropdown-background {
  background-color: rgba(255, 233, 242, 0.3);
  border-radius: 30px;
  padding: 20px;
  margin-top: 20px;
}

.edit-email-text-input {
  display: inline-block;
  width: calc(100% - 100px);
}

.edit-email-container {
  margin: 20px 0px;
}

.general-input-error {
  color: #ff6666;
  text-align: left;
  font-size: 12px;
  margin-top: -10px;
  position: absolute;
}

.edit-password-message {
  margin-left: 0px !important;
}

.notification-switch-box {
  margin: 25px 0px;
}

.notification-switch-label {
  display: inline-block;
}

.switch {
  display: inline-block !important;
  padding: 0px 10px;
}

.lever {
  background-color: rgba(255, 182, 211, 0.5) !important;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #ffb6d3 !important;
}

.delete-account-btn {
  background-color: red !important;
}

/* Chat page */

#messageView {
  height: 400px;
  overflow: hidden;
  scroll-behavior: auto;
}

.messagesLeft {
  text-align: left;
}

.messagesRight {
  text-align: right;
}

/* Modals */

.modals {
  border-radius: 30px;
  text-align: center;
}

.modal-footer {
  background-color: #ffb6d3 !important;
}

.modal-close {
  color: white;
}

.modal-intro {
  margin-bottom: 20px;
}

.action-modal {
  width: 600px;
  height: 200px !important;
  border-radius: 30px;
  top: calc(50% - 100px) !important;
}

/* Date picker */

.datepicker-date-display {
  background-color: #ffb6d3;
}

.datepicker-table td.is-selected {
  background-color: #ffb6d3;
}

.datepicker-cancel,
.datepicker-done {
  color: #ffb6d3 !important;
}

/* Interest Tags */

.chips input {
  display: none !important;
}

.chips {
  display: inline-block;
  border-bottom: none;
}

.chips-default-tags i {
  display: none;
}

.chip {
  background-color: #ffb6d3 !important;
  cursor: pointer;
}

.chip-general {
  margin: 0px !important;
}

.chip:focus {
  color: rgba(0, 0, 0, 0.6);
}

.no-tags-message {
  line-height: 32px;
  color: grey;
  opacity: 0.5;
  margin: 20px 0px 23px 0px;
}

/* Edit profile pictures */

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.edit-pictures-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.picture-box {
  display: block;
  min-width: 300px;
  height: 300px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.upload-options {
  position: relative;
  height: 75px;
  background-color: #ffb6d3;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
}

.upload-options:hover {
  background-color: lighten(#ffb6d3, 10%);
}

.upload-options:hover i.material-icons {
  color: white !important;
}

.upload-options input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-options label {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

.upload-options:hover {
  background-color: #ffe9f2;
}

.picture-edit-add-icon {
  margin: auto;
  font-size: 32px;
}

.upload-options span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}

.upload-options:hover i.material-icons {
  color: lightgray;
}

.js--image-preview {
  height: 225px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.js--image-preview:after {
  content: "photo_size_select_actual";
  font-family: "Material Icons";
  position: relative;
  font-size: 4.5em;
  color: rgba(230, 230, 230, 1);
  top: calc(50% - 3rem);
  z-index: 0;
}

.js--image-preview.js--no-default::after {
  display: none;
}

.drop {
  display: block;
  position: absolute;
  background: transparentize(#ffb6d3, 0.8);
  border-radius: 100%;
  transform: scale(0);
}

.animate {
  animation: ripple 0.4s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.btn-container-edit-picture {
  display: none;
}

button.btn-star-picture {
  position: absolute;
  opacity: 0.5;
  top: 10%;
  right: 5%;
}

button.btn-delete-picture {
  position: absolute;
  opacity: 0.5;
  top: 70%;
  right: 5%;
}

.btn-star-picture:hover,
.btn-delete-picture:hover {
  opacity: 1 !important;
}

button.btn-star-picture-main {
  position: absolute;
  top: 10%;
  right: 5%;
}

.placeholder-message-no-pic {
  display: none;
  position: absolute;
  z-index: 50;
  width: 100px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 50px);
}

/* MEDIA QUERIES FOR RESPONSIVE */

@media screen and (max-width: 1000px) {
  .nav-wrapper {
    width: 100%;
  }

  .home-background {
    background-image: url("../assets/home-background-mobile.jpg");
  }
}

@media screen and (max-width: 640px) {
  #login-box {
    width: 90%;
  }

  .row .col.s6 {
    width: 100%;
  }

  .profile-background-image {
    max-height: 180px;
  }

  .fixed-action-btn {
    right: 23px;
    bottom: 23px;
  }
}

@media screen and (max-width: 600px) {
  .action-modal {
    width: 420px;
    height: 200px !important;
    top: calc(50% - 100px) !important;
  }
}

@media screen and (max-width: 440px) {
  .picture-box {
    min-width: 250px;
    height: 250px;
  }

  .js--image-preview {
    height: 200px;
  }

  .upload-options {
    height: 50px;
  }

  .edit-location-autoc-input {
    width: 90%;
  }

  .action-modal {
    width: 340px;
    height: 220px !important;
    top: calc(50% - 110px) !important;
  }
}

@media screen and (max-width: 360px) {
  .input-icons {
    display: none;
  }

  .login-error,
  .register-error {
    margin-left: 0px;
  }

  input {
    width: 100% !important;
    margin-left: 0px !important;
  }

  label {
    margin-left: 0px !important;
  }

  .password-message {
    margin-left: 0px;
  }

  .picture-box {
    min-width: 200px;
    height: 200px;
  }

  .js--image-preview {
    height: 150px;
  }

  .upload-options {
    height: 50px;
  }

  .action-modal {
    width: 300px;
    height: 220px !important;
    top: calc(50% - 110px) !important;
  }
}
